/* color palette:

    .black: #000000
    .white: #ffffff
    .blue: #44aae9
    .green: #b0c926
    .aqua: #64c0a9
    .orange: #f29e33
    .violet: #9c72e4
    .pink: #d863a1
    .grey: #f6f8f9

*/

* {
    margin: 0;
}

html {
    background-color: #f6f8f9 ;
    font-family: 'Lato', sans-serif;
}

.banner {
    background-color: #ffffff;
}

.logo {
    margin: 0.5rem;
    vertical-align: text-top;
}

.logo-text {
    font-size: 3rem;
    font-weight: 700;
    vertical-align: text-top;

}

.container {
    width: 60%;
    margin: auto;
}

.buttons {
    background-color: #ffffff;
    margin-top: 2rem;
    height: 3rem;

}

.col{
    margin-left: 3rem;
    margin-top: 0.5rem;
    color:#ffffff;
    background-color: #44aae9;
    padding: 8px;
    border: none;
    border-radius: 8px;

}

.uncol {
    margin-top: 0.5rem;
    color:#ffffff;
    background-color: white;
    color:#c0c0c0;
    border: 1px solid;
    padding: 8px;
    border-radius: 8px;

}

.todo{
    background-color: #ffffff;
    margin-top: 0.2rem;
}

.title {
    margin-left: 2rem;
    padding: 1rem;
    text-align: left;
}

.check {
    transform: scale(1.5);
    margin-left: 2rem;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    
}

.badge-b {
    background-color: #44aae9;
    color: #ffffff;
    margin-left: 0.5rem;
    padding: 0.3rem 0.5rem;
    text-align: center;
    border-radius: 1rem;
    font-size: smaller;
  }
.badge-v {
    background-color: #9c72e4;
    color: #ffffff;
    margin-left: 0.5rem;
    padding: 0.3rem 0.5rem;
    text-align: center;
    border-radius: 1rem;
    font-size: smaller;
  }
.badge-a {
    background-color: #64c0a9;
    color: #ffffff;
    margin-left: 0.5rem;
    padding: 0.3rem 0.5rem;
    text-align: center;
    border-radius: 1rem;
    font-size: smaller;
  }
.badge-o {
    background-color: #f29e33;
    color: #ffffff;
    margin-left: 0.5rem;
    padding: 0.3rem 0.5rem;
    text-align: center;
    border-radius: 1rem;
    font-size: smaller;
  }
.badge-p {
    background-color: #d863a1;
    color: #ffffff;
    margin-left: 0.5rem;
    padding: 0.3rem 0.5rem;
    text-align: center;
    border-radius: 1rem;
    font-size: smaller;
  }
.badge-g {
    background-color: #b0c926;
    color: #ffffff;
    margin-left: 0.5rem;
    padding: 0.3rem 0.5rem;
    text-align: center;
    border-radius: 1rem;
    font-size: smaller;
  }